.content {
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  width: 80%;
}

img {
  width: 100px;
}

@media (max-width: 700px) {
  .content  {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
