<p-divider id="education"></p-divider>
<div class="container">
  <h2>Education</h2>
  <div class="content">
    <ng-container *ngFor="let school of education">
      <p-card header="{{school.name}}" subheader="{{school.startDate}} - {{school.endDate}}"
              class="flex align-items-center justify-content-center font-bold m-2 border-card">
        <img src="assets/{{school.icon}}" alt="{{school.name}}">
        <p>{{school.description}}</p>
      </p-card>
    </ng-container>
  </div>
</div>
