.container {
  text-align: center;
  margin-bottom: 3rem;
}

.timeline-container {
  display: flex;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.colored-button {
  color: #CA87D4;
}

img {
  max-width: 50%;
}

p {
  text-align: left;
}

::ng-deep .p-accordion {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

::ng-deep .p-accordion-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

@media (max-width: 920px) {
  .list-view {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .timeline-view {
    display: none;
  }
}

@media (min-width: 921px) {
  .list-view {
    display: none;
  }

  .timeline-view {
    display: block;
  }
}
