<p-divider id="experience"></p-divider>

<div class="timeline-view">
  <div class="container">
    <h2>Work Experience</h2>
    <p-timeline [value]="workExperience" align="alternate" class="timeline-container">
      <ng-template pTemplate="content" let-experience>
        <p-card header="{{experience.position}} - {{experience.company}}"
                subheader="{{experience.startDate}} - {{experience.endDate}}" class="m-2 border-card">
          <p-panel header="Read More" [toggleable]="true" toggler="header" [collapsed]="true">
            <img ngSrc="./assets/images/{{experience.icon}}" width="512" height="512" alt="{{experience.company}}" priority>
            <p>{{experience.description}}</p>
          </p-panel>
        </p-card>
      </ng-template>
    </p-timeline>
  </div>
</div>

<div class="list-view">
  <div class="container">
    <h2>Work Experience</h2>
    <div *ngFor="let experience of workExperience">
      <p-card header="{{experience.position}} - {{experience.company}}"
              subheader="{{experience.startDate}} - {{experience.endDate}}" class="m-2 border-card">
        <p-panel header="Read More" [toggleable]="true" toggler="header" [collapsed]="true">
            <img ngSrc="./assets/images/{{experience.icon}}" width="512" height="512" alt="{{experience.company}}" priority>
            <p>{{experience.description}}</p>
        </p-panel>
      </p-card>
    </div>
  </div>
</div>

