.container {
  text-align: center;
  margin-bottom: 3rem;
}

.timeline-container {
  display: flex;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.colored-button {
  color: #CA87D4;
}

img {
  max-width: 50%;
  max-height: 50%;
  height: auto;
}

p {
  text-align: left;
}

@media (max-width: 1000px) {
  .list-view {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  ::ng-deep .p-card {
    margin-bottom: 2rem;
  }

  .timeline-view {
    display: none;
  }
}

@media (min-width: 1001px) {
  .list-view {
    display: none;
  }

  .timeline-view {
    display: block;
  }
}
