h2 {
  text-align: center;
}

.container {
  margin-bottom: 3rem;
}

img {
  min-width: 150px;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.link-container {
  margin-top: 1rem;
  min-height: 100px;
}

.link-margin {
  margin-top: 1rem;
}

::ng-deep .border-card .p-card {
  border-radius: 15px;
  border: 6px solid var(--primary-color);
}

::ng-deep .p-carousel-item {
  display: flex !important;
  justify-content: center !important;
}

::ng-deep ul {
  list-style-type: none !important;
}
