<p-divider id="projects"></p-divider>
<div class="container">
  <h2>Projects</h2>
  <p-carousel [value]="projects" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions"
              [circular]="true">
    <ng-template let-project pTemplate="item">

      <p-card header="{{project.title}}" subheader="{{project.projectType}}"
              class="flex align-items-center justify-content-center font-bold m-2 border-card">
        <div class="card-content">
          <p>{{project.description}}</p>
          <div class="content-container">
          <img ngSrc="./assets/images/{{project.projectGif}}" width="512" height="512" alt="Project gif" priority>
            <a href="{{project.gitHubLink}}" class="link-margin">
              <p-button styleClass="p-button-rounded" label="GitHub Repository" icon="pi pi-external-link"></p-button>
            </a>
            <div *ngIf="project.playOverWeb" class="link-margin">
              <a href="{{project.playOverWebLink}}">
                <p-button styleClass="p-button-rounded" label="Play via Web" icon="pi pi-external-link"></p-button>
              </a>
            </div>
          </div>
        </div>
      </p-card>

    </ng-template>
  </p-carousel>
</div>
