h2 {
  text-align: center;
}

.container {
  margin-bottom: 3rem;
}

img {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.link-container {
  margin-top: 1rem;
  min-height: 100px;
}

.link-margin {
  margin-top: 1rem;
}

#image-only {
  display: none;
}

:not(.centered-card) img {
  transform: scale(1.5);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.centered-card img {
  transform: scale(2.5);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

::ng-deep .owl-stage {
  display: flex;
  align-items: center;
}

::ng-deep .center {
  height: 100%;
  width: 7% !important;
  .p-card {
    height: 650px;
  }
}

::ng-deep .owl-item > div {
  transition: margin 0.4s ease;
}

::ng-deep .border-card .p-card {
  border-radius: 15px;
  border: 6px solid var(--primary-color);
}

@media (max-width: 800px) {
  .container  {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
}

@media (max-width: 460px) {
  img {
    max-width: 33%;
  }
}
